node_modules
.env
coverage
coverage.json
/typechain
/typechain-types

# Hardhat files
cache/
artifacts/

.mnemonics

# Deployments
/deployments/hardhat/
/deployments/ganache/

# InfinityMint files
infinitymint.config.ts
.session
/gems/__*
/gems/@*
/alpha/__gems/
/beta/__gems/
/*/__gems/
temp/

.DS_Store
dist/

# Docs
_www/
docs/

# Nix
nix/result